{{ define "main" }}
<article class="post-single">
	<header class="post-header">
		<h1 class="post-title">Summary</h1>
	</header>

	{{ partial "role-card.html" (dict 
	    "Params" .Params 
	    "RelPermalink" "" 
	) }}

	{{/* The Logic: Filter projects by current company_name */}}
	{{ $current_company := .Params.company_name }}
	{{ $related_projects := where (where .Site.RegularPages "Section" "projects") "Params.company_name" "=="
	$current_company }}

	{{ if $related_projects }}
	<h2 style="margin-bottom: 1rem;">Projects at {{ $current_company }}</h2>
	<div class="list-container">
		{{ range $related_projects }}
		{{ partial "project-card.html" . }}
		{{ end }}
	</div>
	{{ end }}
</article>
{{ end }}
